html,body {
    background: url(/vendor/img/banndsm.jpg) no-repeat center center fixed;
        /* Generic*/
}

#navbar {
	background-color: #BDFCFF;
	opacity: 0.8;
}

#header {
	background-color: #52FFFF;
	opacity: 0.8;
}



#but:hover {
	color: red;
}

#navbut { 
	display:table-cell;
    vertical-align:middle;
    float:none;}



ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  opacity: 1;
  }

ul li {
  font: bold 30px/36px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

ul li ul {
  padding: none;
  position: absolute;
  top: 40px;
  left: 30px;
  box-shadow: none;
  display: none;
  border-left: 1px solid black;
  opacity: 0;
  width: 150px;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  display: block; 
  font: 18px/24px sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  }

ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

#active {
	color: #FFA600;
}

a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: #FFA600;
}

a:active{
	text-decoration: none;
	color: black;
}




#main {
	background-color: white;
	opacity: 0.8;
}
	

#innermain {
	padding: 20px;
}


#flyerhome {
	width: 60%;
	display: block;
    margin: auto;

}




#side {
	background-color: white;
	opacity: 0.8;
	height: 100%;
	
}



#datum {
	width: 40px;
	font-size: 18px;
	background-color: black;
	color: white;
	padding: 5px;
	border-top: 4px solid white;

}

#st {
			font-style: bold;
		}


#event {
	color: red;
	font-size: 28px;
	vertical-align: middle;
	padding: 5px;
	border-top: 4px solid white;
		}



.container-fluid{
	margin-top: 20px;
}